@page
@model YAKUBITE.Pages.Admin.Socios.IndexModel
@{
    ViewData["Title"] = "Socios - Admin";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/dropzone/dropzone.dist.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/block-ui/block-ui.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="~/vendor/libs/dropzone/dropzone.dist.js"></script>
}

@section PageScripts {
    <script src="~/app/ADMIN/SOCIOS/index.js"></script>
} 

@* <h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">Socios /</span> Listado
</h4>

<div class="card">
    <div class="card-datatable table-responsive pb-0 content-datatable">
        <table id="sociosTable" class="mx-1 table border-top">
        </table>
    </div>
</div>

@await Html.PartialAsync("./_Partials/_ModalAgregarRestaurant")
@await Html.PartialAsync("./_Partials/_ModalEditarRestaurant")
 *@
